@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" >
    <img id="library" src="~/Images/university-library.jpeg" alt="University Library Picture" />
    <h1><img id="school-title" src="~/Images/swau-logo.webp" /></h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to SWA University</h2>
        <p>
            SouthWest Austin University is futuristic university that
            is focused on teaching cutting edge programming techniques. We are climbing the
            ranks and currently land at #18 in the nation.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Designed To Educate</h2>
        <p>Our programs are focused on providing education that is customized for your optimal learning.</p>
        <p><a class="btn btn-default" asp-controller="Students" asp-action="Index">Enroll Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Invest in the Future</h2>
        <p>As an instructor, you can contribute to the future by investing your knowledge and time in young minds that are ready to learn.</p>
        <p><a class="btn btn-default" asp-controller="Instructors" asp-action="Index">Get Hired &raquo;</a></p>
    </div>
</div>
