@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>SWA University is committed to protecting the personal information of our students, faculty, staff, and visitors. We understand the importance of privacy in today's world and are dedicated to providing a safe and secure environment for all members of our community. Our mission is to ensure that all personal information collected, used, or disclosed by the university is done so in accordance with applicable privacy laws and regulations. We believe that privacy is a fundamental right and take seriously our responsibility to uphold this right.</p>
