@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy provides how Scripture Journal uses and protects any information that you give or share when you use this website.
    Scripture Journal is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
    Scripture Journal may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy has been effective since 2.18.2024
</p>
<h5 class="privacy-headline">Security:</h5>
<p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

<h5 class="privacy-headline">Controlling your personal information</h5>
<ul>
    <li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us.</li>
    <li>We will not sell, distribute or lease your personal information to third parties.</li>
    <li>You may request details of personal information which we hold about you under the Data Protection Act 1998.</li>
</ul>

<p>To the extent permitted by applicable law, you agree that we will not be liable for failed, delayed, or misdirected delivery of any information sent through the Service, any errors in such information, and/or any action you may or may not take in reliance on the information or Service.</p>
<p>We respect your right to privacy. To see how we collect and use your personal information, please see our Privacy Policy.</p>