@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="home-title" class="display-4">Mastery Protein Vendor Management</h1>
    
</div>

<div>
    <img id="home-logo" src="images/homeLogo.png" alt="Master Yourself Logo" />
</div>
